<%- include("partials/header"); -%>

  <h1>Update</h1>
  <form class="" action="/updatepost/<%=postId%> " method="post">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" value="<%= title %>" type="text" name="postTitle">
      <label>Post</label>
      <textarea class="form-control" name="postBody" rows="5" cols="30"><%= content %></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>

<%- include("partials/footer"); -%>
